/* Box Sizing  */
* {
  box-sizing: border-box;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: #142222;
  font-size: 2rem;
  border: 2px solid #eee;
}

h1 {
  color: #eee;
}

body {
  color: #eee;
  background-image: url("https://3.bp.blogspot.com/-NiSGyTtyc1I/WAoCX71Zn4I/AAAAAAAADsU/ldlp6hNBdskjLnMlM4lN1q0GdO9pjYTjgCLcB/s1600/Coding%2Bbackgrounds%2B41.jpg");
  font-size: 1.7rem;
  background-size: auto;
}

/* Projects */
#projects {
  background-color: #142222;
  border: 2px solid #eee;
}

#featured-project {
  border: 2px solid #eee;
}

#Robots {
  border: 2px solid #eee;
}
#project3 {
  max-width: 600px;
  border: 2px solid #eee;
}

#project4 {
  border: 2px solid #eee;
}

/* Social */
.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
.social:last-child {
  margin-right: 0;
}

/* SideBar */
.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #142222;
  border: 2px solid #eee;
}
h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* Footer */
footer {
  padding: 30px 0;
  clear: both;
  font-size: 1.5rem;
  color: #ccc;
  text-align: center;
  background: #142222;
  border: 2px solid #eee;
}

.Jake {
  float: right;
}
